<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pick Your Tool</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="stock">
    <div class="profile-media">
      <ion-fab right top *ngIf="stock.stat == 3">
        <button ion-fab color="primary" mini (click)="call()">
          <ion-icon name="call"></ion-icon>
        </button>
      </ion-fab>
      <div class="profile-details">
        <img *ngIf="stock.stat == 1" src="assets/imgs/logo.png" class="img-circle online-image">
        <img *ngIf="stock.stat == 3" src="assets/imgs/logo.png" class="img-circle offline-image">
        <h5 class="name">Tool Name : {{stock.tool}}</h5>
        <p class="p">Tool Brand : {{stock.brand}}</p>
        <p class="p">Tool Code : {{stock.barcode}}</p>
        <p class="p">Tool Description : {{stock.description}}</p><br>
        <div *ngIf="stock.stat == 3">
          <p class="reserved"> This Tool reserved by : {{stock.reserved}}</p>
          <p class="reserved"> Phone Number : {{stock.phone}}</p>
        </div>
      </div>
    </div>
    <div padding *ngIf="stock.stat == 1">
      <button ion-button block color="danger" (click)="submit()">Submit</button>
    </div>
    <div padding class="option" *ngIf="stock.stat == 3">
      <p class="p">Options</p>
      <ion-icon name="arrow-dropdown" (click)="option()"></ion-icon>
      <div *ngIf="button == true">
        <p class="reserved">!Get your tool from {{stock.reserved}} and submit</p><br>
        <span>
          <button ion-button block color="danger" (click)="submit()">Submit</button>
        </span>
      </div>
    </div>
  </div>
</ion-content>